In [101]:
import numpy as np
import pandas as pd
import scipy.io as sio
import matplotlib
import matplotlib.pyplot as plt
import random

Load in the Data

In [102]:
games_df = pd.read_csv("C:/Users/jesse/Desktop/CSE141L/COGS118BProject/Data/nfl-big-data-bowl-2024/games.csv")
games_df

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23
...,...,...,...,...,...,...,...,...,...
131,2022110607,2022,9,11/06/2022,13:00:00,WAS,MIN,17,20
132,2022110608,2022,9,11/06/2022,16:05:00,ARI,SEA,21,31
133,2022110609,2022,9,11/06/2022,16:25:00,TB,LA,16,13
134,2022110610,2022,9,11/06/2022,20:20:00,KC,TEN,20,17
135,2022110700,2022,9,11/07/2022,20:15:00,NO,BAL,13,27

In [115]:
plays_df = pd.read_csv("C:/Users/jesse/Desktop/CSE141L/COGS118BProject/Data/nfl-big-data-bowl-2024/plays.csv")
plays_df = plays_df[["playDescription" , "quarter", "down", "yardsToGo", "possessionTeam","defensiveTeam","absoluteYardlineNumber", "gameClock", "preSnapHomeScore","preSnapVisitorScore","passResult", "offenseFormation", "defendersInTheBox"]]
plays_df.shape

(12486, 13)

Seperating plays by team and creating a test and train dataset for each team(later we can do analysis on which teams we can predict the best)

In [116]:
teams = plays_df.possessionTeam.unique()
#empty dictionary of team names
plays_df_by_team_test = {x : pd.DataFrame() for x in teams}
plays_df_by_team_train = {x : pd.DataFrame() for x in teams}
#fills dictionary with all plays according to possesion team
for team in plays_df_by_team_test.keys():
    plays_df_by_team_test[team] = plays_df[:][plays_df.possessionTeam == team]
#seperate into train and test sets seperated by team
for team in plays_df_by_team_test.keys():  
    rows = len(plays_df_by_team_test[team])
    rand_idx = np.random.randint(0, rows,size = int(rows/10))
    plays_df_by_team_train[team] = plays_df_by_team_test[team].drop(plays_df_by_team_test[team].index[rand_idx])
    plays_df_by_team_test[team] = plays_df_by_team_test[team].iloc[rand_idx]

plays_df_by_team_test['ATL']

,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,absoluteYardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,passResult,offenseFormation,defendersInTheBox
1064,"(3:12) (No Huddle, Shotgun) M.Mariota scramble...",3,2,8,ATL,CAR,74,3:12,14,13,R,SHOTGUN,7.0
4041,(2:26) (Shotgun) M.Mariota pass deep right to ...,4,1,15,ATL,CAR,57,2:26,24,28,C,SHOTGUN,6.0
5319,(5:27) (Shotgun) T.Allgeier left end pushed ob...,3,1,10,ATL,TB,53,5:27,21,0,NaN,PISTOL,7.0
10049,(12:17) (Shotgun) M.Mariota pass short left to...,1,2,7,ATL,SF,36,12:17,0,0,C,PISTOL,6.0
1506,(1:41) C.Patterson right end to NO 43 for 7 ya...,3,1,10,ATL,NO,60,1:41,23,10,NaN,SINGLEBACK,6.0
3025,(2:39) T.Allgeier left end to CLV 27 for no ga...,4,3,3,ATL,CLE,83,2:39,20,20,NaN,SINGLEBACK,8.0
3713,(1:54) (Shotgun) T.Allgeier right guard to SF ...,2,1,10,ATL,SF,92,1:54,14,14,NaN,PISTOL,6.0
10300,(8:34) (Shotgun) M.Mariota pass short left to ...,1,3,10,ATL,NO,31,8:34,3,0,C,EMPTY,5.0
10475,"(8:18) C.Patterson right tackle for 17 yards, ...",2,1,10,ATL,SEA,93,8:18,10,10,NaN,I_FORM,7.0
6534,"(11:01) (No Huddle, Shotgun) C.Huntley left ta...",4,1,10,ATL,CAR,60,11:01,21,21,NaN,PISTOL,6.0
12420,"(7:20) (No Huddle, Shotgun) C.Patterson right ...",3,1,10,ATL,LAC,73,7:20,10,14,NaN,SHOTGUN,5.0
9919,(10:21) C.Huntley left guard to CIN 27 for 10 ...,2,1,10,ATL,CIN,47,10:21,21,0,NaN,SINGLEBACK,7.0
4891,(4:39) (No Huddle) C.Huntley left tackle to LA...,3,1,9,ATL,LAC,101,4:39,10,14,NaN,SINGLEBACK,7.0
12021,(4:47) (Shotgun) M.Mariota pass short left to ...,3,1,10,ATL,SF,30,4:47,28,14,C,SHOTGUN,7.0
8111,"(2:45) (No Huddle, Shotgun) T.Allgeier left gu...",5,2,11,ATL,CAR,85,2:45,34,34,NaN,SHOTGUN,6.0
10257,(10:57) (Shotgun) O.Zaccheaus right end to ATL...,3,2,11,ATL,CAR,34,10:57,14,13,NaN,SHOTGUN,7.0
12355,(11:26) (Shotgun) C.Patterson left end for 38 ...,3,1,10,ATL,LAC,72,11:26,10,14,NaN,PISTOL,7.0
2337,"(12:17) C.Patterson up the middle for 5 yards,...",2,1,5,ATL,NO,15,12:17,3,7,NaN,I_FORM,8.0
3396,(3:11) C.Patterson right guard ran ob at SEA 3...,3,1,10,ATL,SEA,35,3:11,23,20,NaN,SINGLEBACK,7.0
709,(6:44) T.Allgeier left tackle to CIN 2 for 2 y...,2,1,4,ATL,CIN,14,6:44,21,0,NaN,I_FORM,9.0
12359,(6:32) (Shotgun) M.Mariota pass short middle t...,1,1,10,ATL,LAC,57,6:32,7,0,C,SHOTGUN,7.0
3933,(1:34) T.Allgeier left tackle to ATL 24 for 4 ...,3,1,10,ATL,LAC,30,1:34,17,14,NaN,I_FORM,7.0
9091,"(11:17) (No Huddle, Shotgun) M.Mariota pass sh...",4,3,7,ATL,CIN,47,11:17,35,17,C,SHOTGUN,6.0
8461,(3:38) (Shotgun) M.Mariota scrambles up the mi...,4,1,10,ATL,NO,85,3:38,26,24,R,PISTOL,7.0
4861,"(11:43) (No Huddle, Shotgun) M.Mariota pass sh...",2,2,4,ATL,CAR,100,11:43,0,3,C,SHOTGUN,6.0
529,(3:24) (Shotgun) M.Mariota right tackle to ATL...,3,3,1,ATL,SF,39,3:24,28,14,NaN,PISTOL,7.0
2136,(9:37) (Shotgun) M.Mariota pass short left to ...,4,2,10,ATL,LA,77,9:37,31,10,C,PISTOL,7.0
5960,(1:28) T.Allgeier right tackle to CAR 11 for 2...,4,3,5,ATL,CAR,23,1:28,31,28,NaN,SINGLEBACK,8.0
10215,"(3:34) (No Huddle, Shotgun) M.Mariota scramble...",2,3,12,ATL,SF,49,3:34,14,14,R,SHOTGUN,5.0
583,(14:45) C.Huntley left guard to ATL 34 for 3 y...,2,1,10,ATL,LAC,41,14:45,10,0,NaN,SINGLEBACK,7.0
1616,(15:00) (Shotgun) T.Allgeier up the middle to ...,4,3,3,ATL,TB,24,15:00,21,0,NaN,PISTOL,8.0
3759,"(4:49) T.Allgeier left guard for 1 yard, TOUCH...",2,3,1,ATL,CIN,11,4:49,21,0,NaN,I_FORM,10.0
10184,(13:55) (Shotgun) T.Allgeier left end to ATL 4...,3,1,10,ATL,LAC,42,13:55,10,14,NaN,PISTOL,6.0
3396,(3:11) C.Patterson right guard ran ob at SEA 3...,3,1,10,ATL,SEA,35,3:11,23,20,NaN,SINGLEBACK,7.0
7293,(14:54) (Shotgun) T.Allgeier right tackle to A...,3,2,10,ATL,CLE,85,14:54,10,10,NaN,SHOTGUN,6.0
2428,(15:00) (Shotgun) T.Allgeier right guard to AT...,3,1,10,ATL,SEA,35,15:00,20,17,NaN,SHOTGUN,7.0
6337,(4:47) (Shotgun) T.Allgeier right guard to LA ...,2,1,8,ATL,LA,102,4:47,14,0,NaN,PISTOL,7.0
11205,(9:15) M.Mariota pass short left to O.Zaccheau...,3,1,10,ATL,NO,35,9:15,16,10,C,SINGLEBACK,8.0
11857,"(4:29) (No Huddle, Shotgun) T.Allgeier right g...",3,2,6,ATL,CAR,65,4:29,14,13,NaN,SHOTGUN,7.0
4861,"(11:43) (No Huddle, Shotgun) M.Mariota pass sh...",2,2,4,ATL,CAR,100,11:43,0,3,C,SHOTGUN,6.0
3432,(10:26) (Shotgun) M.Mariota pass short left to...,4,3,6,ATL,NO,81,10:26,26,18,C,PISTOL,5.0

In [ ]:
tackles_df = pd.read_csv("C:/Users/jesse/Desktop/CSE141L/COGS118BProject/Data/nfl-big-data-bowl-2024/tackles.csv")
tackles_df

,gameId,playId,nflId,tackle,assist,forcedFumble,pff_missedTackle
0,2022090800,101,42816,1,0,0,0
1,2022090800,393,46232,1,0,0,0
2,2022090800,486,40166,1,0,0,0
3,2022090800,646,47939,1,0,0,0
4,2022090800,818,40107,1,0,0,0
...,...,...,...,...,...,...,...
17421,2022091113,2494,43533,0,0,0,1
17422,2022092502,3510,42406,0,0,0,1
17423,2022091113,3642,43478,0,0,0,1
17424,2022091901,3578,42431,0,0,0,1
17425,2022091901,3845,46199,0,0,0,1