In [1]:
import pandas as pd
import numpy as np

In [11]:
# load dataframes
games = pd.read_csv("data/games.csv")
plays = pd.read_csv("data/plays.csv")
tackles = pd.read_csv("data/tackles.csv")
players = pd.read_csv("data/players.csv")

In [12]:
# add target var (can also use play desc to count scrambles as runs)
plays["run"] = plays["passResult"].isna()

In [14]:
# filter plays dataframe
plays_filtered=plays[["gameId", "playId", "run", "quarter", "down", "yardsToGo", "possessionTeam", "defensiveTeam",
                      "yardlineSide", "yardlineNumber", "gameClock", "preSnapHomeScore", "preSnapVisitorScore", "absoluteYardlineNumber",
                      "preSnapHomeTeamWinProbability", "expectedPoints", "offenseFormation", "defendersInTheBox",
                      "homeTeamWinProbabilityAdded", "expectedPointsAdded"]]

In [15]:
# filter games dataframe
games_filtered = games[["gameId", "week", "gameDate", "gameTimeEastern", "homeFinalScore", "visitorFinalScore"]]

In [16]:
# filter players dataframe
players_filtered = players[["position", "nflId"]]

In [17]:
# filter tackles
tackles_filtered = tackles[["gameId", "playId", "tackle", "assist", "forcedFumble", "pff_missedTackle"]]
tackles_filtered = tackles_filtered.groupby(["gameId", "playId"]).sum().reset_index()

In [18]:
# merge plays and games
merged1 = plays_filtered.merge(games_filtered, on="gameId")

In [19]:
# merge tackles and merged1
data = merged1.merge(tackles_filtered, on=["gameId", "playId"], how="left")

In [20]:
data

,gameId,playId,run,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,expectedPointsAdded,week,gameDate,gameTimeEastern,homeFinalScore,visitorFinalScore,tackle,assist,forcedFumble,pff_missedTackle
0,2022100908,3537,False,4,1,10,ATL,TB,ATL,41,...,0.981955,5,10/09/2022,13:00:00,21,15,1.0,0.0,0.0,0.0
1,2022100908,619,True,1,1,10,ATL,TB,ATL,15,...,-1.130062,5,10/09/2022,13:00:00,21,15,1.0,0.0,0.0,0.0
2,2022100908,3731,False,4,1,10,ATL,TB,TB,19,...,2.272281,5,10/09/2022,13:00:00,21,15,0.0,0.0,0.0,1.0
3,2022100908,1821,False,2,1,10,ATL,TB,ATL,32,...,0.163629,5,10/09/2022,13:00:00,21,15,1.0,0.0,0.0,0.0
4,2022100908,2392,True,3,1,10,TB,ATL,TB,26,...,-0.559195,5,10/09/2022,13:00:00,21,15,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12481,2022110601,1929,True,3,1,10,MIA,CHI,MIA,47,...,1.760619,9,11/06/2022,13:00:00,32,35,1.0,0.0,0.0,0.0
12482,2022110601,2738,True,3,1,10,CHI,MIA,CHI,35,...,0.155828,9,11/06/2022,13:00:00,32,35,1.0,0.0,0.0,0.0
12483,2022110601,242,False,1,3,10,CHI,MIA,MIA,20,...,0.000000,9,11/06/2022,13:00:00,32,35,1.0,0.0,0.0,1.0
12484,2022110601,1391,True,2,1,10,CHI,MIA,MIA,45,...,-0.161644,9,11/06/2022,13:00:00,32,35,1.0,1.0,0.0,0.0
12485,2022110601,3245,True,4,2,7,CHI,MIA,CHI,18,...,0.002739,9,11/06/2022,13:00:00,32,35,1.0,0.0,0.0,0.0